
.breadcrumb {
	width: auto;
   	height: 35px;
	position: relative;
	margin: 60px 0px 10px 0px;
	font-family: 'Verlag', sans-serif;
	white-space:nowrap;
	font-weight: 100;
	text-transform: capitalize;
    font-size: 24px;
    color: #FFF;
    transition: color 200ms ease;
}

.breadcrumb p {
    width: auto;
    height: 24px;
    display: inline-block;
	margin-left: 50px;
	background-color: #222;
    padding: 6px 10px 5px 10px;
}

.breadcrumb .small {
    font-size: 20px;
    height: 20px;
    text-transform: capitalize;
}

.breadcrumb.ng-hide {
	display: block !important;
}
.grid .breadcrumb.ng-hide {
	display: none !important;
}

.breadcrumb.ng-hide p {
	background-color: transparent;
}

.projectDescription {
    display: inline-block;
    max-width: 576px;
    /*text-transform: uppercase;*/
    font-size: 16px;
    line-height: 20pt;
    text-align: left;
    padding: 5px 10px 3px 10px;
    margin: 8px 0px 0px 0px;
    background-color: #222;
    color: #fff;
    list-style: none;
	margin: 0px 0px 0px 50px;
}

.projectDescription p {
	font-size: 16px;
	line-height: 22pt;
}

.grid .projectLink {
	clear: left;
    font-size: 16px;
	text-align: left;
	color: #fff;
	width: auto;
	white-space:nowrap;
	margin: 10px 0px 0px 50px;
}

.grid .projectLink ul {
    margin: 0px;
	display: inline-block;
}

.grid .projectLink li {
	display: inline-block;
	padding: 5px 10px 4px 10px;
	margin: 8px 4px 0px 0px;
	width: auto;
	vertical-align: top;
    height: 26px;
	background-color: #222;		
}

.images li,.images content-item {
	margin: 25px 50px 0px 50px;
}

.images img {
	max-width: 900px;
    box-shadow: 0px 0px 5px #000;
}

.details {
	width: 576px;
	margin: 97px 0px 0px 50px;
	display: inline-block;
}

.details li,.details content-item {
	display: inline-block;
	font-size: 42px;
    /*text-transform: uppercase;*/
	text-align: left;
	padding: 5px 10px 3px 10px;
	margin: 8px 0px 0px 0px;
	background-color: #222;
	color: #fff;
	clear: left;
	float: left;
	list-style: none;
}

.details .description {
	font-size: 16px;
	line-height: 22pt;
}

.controls {
	clear: left;
    text-transform: Capitalize;
    font-size: 16px;
	text-align: left;
	color: #fff;
	width: 675px;
	white-space:nowrap;
	margin: 10px 0px 0px 50px;
}

.controls ul {
	display: inline-block;
   	/*float: left;*/
    vertical-align: top;
	margin: 0px 4px 0px 0px;
}

.controls li {
	display: inline-block;
	padding: 5px 10px 4px 10px;
	margin: 8px 4px 0px 0px;
	background-color: #222;		
}

.controls .controlsList {
	display: block;
	margin: 0px 0px 0px 0px;
}

.controls .controlsHeader {
	float: left;
	margin-right: 11px;
}

.download {
	clear: left;
    text-transform: capitalize;
    font-size: 16px;
	text-align: left;
	color: #fff;
	width: auto;
	white-space:nowrap;
	margin: 10px 0px 0px 50px;
}

.download ul {
	display: inline-block;
}

.download li {
	display: inline-block;
	padding: 5px 10px 4px 10px;
	margin: 8px 4px 0px 0px;
	background-color: #222;		
}

.screens {
	width: 100%;
	margin: 60px 0px 0px 0px;
}

.screens li, .screens content-item {
	width:576px;
	margin: 4px 0px 0px 50px;
}

.screens img {
    width: 576px;
    box-shadow: 0px 0px 5px #000;
}

.grid {
    width: 1258px;
}

.grid a {
	width: 100%;
    height: 100%;
    display: inline-block;
}

.grid ul {
	margin: 60px 50px 0px 50px;
}

.grid li, .grid content-item {
	width: 50%;
    padding-right: 3px;
    display: inline-block;
    box-sizing: border-box;
}

.grid img, .grid video {
    width: 576px;
    box-shadow: 0px 0px 5px #000;
}

.grid .small {
	margin-top: 0;
}

.grid .small li, .grid .small content-item {
	width: 33.333%;
}

.grid .small img,.grid .small video {
	width: 384px;
}

.back {
	display: block;
	white-space:nowrap;
	font-family: 'Verlag', sans-serif;
	font-weight: 100;
	font-size: 12px;
    text-transform: uppercase;
	text-align: left;
	margin: 40px 0px 0px 0px;
	list-style: none;
}

.back a {
	width: 100%;
    height: 100%;
    display: block;
}

.back p {
	width: auto;
	height: 12px;
	display: inline-block;
	margin-left: 50px;
	padding: 5px 10px 6px 10px;
	background-color: #222;
}